<%- include('./partials/head') %>
<body>
	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title TITULOS alignForms">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 alignForms">  <br>
				<form action="/users" method="GET"> 
				
				<label class="label" for="usuario">Usuario (email):</label><br> 
				<input class="claseButton" type="email" id="email" name="usuario" required> <br> <br>
				
				<!-- Campo para la contraseña -->
				<label class="label" for="contraseña">Contraseña:</label><br> 
				<input class="claseButton" type="password" id="contraseña" name="contraseña" required><br> 
				
				<!-- Campo para recordar -->
				<input class="label" type="checkbox" id="recordarme" name="recordarme">
				<label id="recordarme" for="recordarme">Recordarme</label><br>  <br>
				
				<!-- Botón para enviar el formulario -->
			   <input class="label claseButton" id="login" type="submit" value="Iniciar sesión"> 
			</form> <br>
			
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>