<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row PRODUCTOS">
			<div class="col-12">
				<h2 class="products-title TITULOS">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 PRODUCTOS"> 
				<form action="/product" method="GET">
					<label class="label" for="imagen">Imagen:</label>
					<input class="claseButton" type="file"" name="imagen" accept="image/*" required><br><br> <br>
					
					<label class="label" for="nombre">Nombre del Producto:</label>
					<input class="claseButton"  type="text" id="nombre" name="nombre" required><br><br><br>
					
					<label class="label" for="descripcion">Descripción:</label><br>
					<input class="claseButton"  type="text" name="descripcion" required><br><br> 
					
					<button class="claseButton" id="agregarProducto" type="submit">Agregar Producto</button>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>