<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title TITULOS COLOR">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/login" method="GET">
				<label class="label" for="email">Email:</label><br>
				<input class="claseButton"  type="email" id="email" name="email" required><br>
		
				<label  class="label" for="usuario">Usuario:</label><br>
				<input  class="claseButton" type="text" id="usuario" name="usuario" required><br>
		
				<label class="label" for="contrase単a">Contrase単a:</label><br>
				<input  class="claseButton" type="password" id="contrase単a" name="contrase単a" required><br>
		
				<label  class="label" for="fecha_nacimiento">Fecha de nacimiento:</label><br>
				<input  class="claseButton" type="date" id="fecha" name="fecha" required><br>
		
				<label  class="label" for="DNI">Nro de documento:</label><br>
				<input  class="claseButton" type="number" id="DNI" name="DNI" required><br>
		
				<label  class="label" for="foto">Foto de perfil:</label><br>
				<input class="claseButton" type="text" id="foto" name="foto"><br> <br>
		
				<input class="claseButton" id="subrrayado" type="submit" value="Registrarse">
			</form> <br>
			
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>